<head th:fragment="admhead">
    <meta charset="utf-8"/>

    <link rel="apple-touch-icon" sizes="76x76" th:href="@{img/apple-icon.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{img/favicon.png}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.0/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/animate.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/paper-dashboard.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/util.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/comungsoon.css}" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.css}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,300" type="text/css">
    <link rel="stylesheet" th:href="@{/css/demo.css}" type="text/css">
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
</head>
