<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="page">
    <div class="bg-img1 size1 overlay1"
         style="background-image: url('/img/bg.jpg');">
        <div class="size1 p-l-15 p-r-15 p-t-30 p-b-50">

            <div class="wsize1 m-lr-auto">
                <p class="txt-center l1-txt1 p-b-60">
                    <span class="l1-txt2">Coming Soon</span>
                </p>

            </div>

            <div class="flex-w flex-c-m cd100 wsize1 m-lr-auto p-t-116">
                <div class="flex-col-c-m size2 bor1 m-l-10 m-r-10 m-b-15">
                    <span class="l1-txt3 p-b-9 days">35</span> <span class="s1-txt2">Days</span>
                </div>

                <div class="flex-col-c-m size2 bor1 m-l-10 m-r-10 m-b-15">
                    <span class="l1-txt3 p-b-9 hours">17</span> <span class="s1-txt2">Hours</span>
                </div>

                <div class="flex-col-c-m size2 bor1 m-l-10 m-r-10 m-b-15">
                    <span class="l1-txt3 p-b-9 minutes">50</span> <span
                        class="s1-txt2">Minutes</span>
                </div>

                <div class="flex-col-c-m size2 bor1 m-l-10 m-r-10 m-b-15">
                    <span class="l1-txt3 p-b-9 seconds">39</span> <span
                        class="s1-txt2">Seconds</span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

