<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<th:block th:fragment="site (path)">
		<div id="app-layout-body" class="container-fluid body-content">
			<div class="row">
				
					<nav class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
						<ul class="pagination">
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
							</a></li>
							<th:block th:if="${listItems.totalPages > 0}"
								th:each="pageNumber : ${pageNumbers}">
								<li class="page-item"><a
									th:href="@{${path}(size=${listItems.size}, page=${pageNumber})}"
									th:text=${pageNumber}
									th:class="${pageNumber==listItems.number + 1} ? active"></a></li>
							</th:block>
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
									class="sr-only">Next</span>
							</a></li>
						</ul>
					</nav>
				
			</div>
		</div>

	</th:block>

</body>
</html>