@media ( min-width : 992px) {
	.typo-line {
		padding-left: 140px;
		margin-bottom: 40px;
		position: relative;
	}
	.typo-line .category {
		transform: translateY(-50%);
		top: 50%;
		left: 0px;
		position: absolute;
	}
}

.icon-section {
	margin: 0 0 3em;
	clear: both;
	overflow: hidden;
}

.icon-container {
	width: 240px;
	padding: .7em 0;
	float: left;
	position: relative;
	text-align: left;
}

.icon-container [class^="ti-"], .icon-container [class*=" ti-"] {
	color: #000;
	position: absolute;
	margin-top: 3px;
	transition: .3s;
}

.icon-container:hover [class^="ti-"], .icon-container:hover [class*=" ti-"]
	{
	font-size: 2.2em;
	margin-top: -5px;
}

.icon-container:hover .icon-name {
	color: #000;
}

.icon-name {
	color: #aaa;
	margin-left: 35px;
	font-size: .8em;
	transition: .3s;
}

.icon-container:hover .icon-name {
	margin-left: 45px;
}

.places-buttons .btn {
	margin-bottom: 30px
}

.sidebar .nav>li.active-pro {
	position: absolute;
	width: 100%;
	bottom: 10px;
}

.sidebar .nav>li.active-pro a {
	background: rgba(255, 255, 255, 0.14);
	opacity: 1;
	color: #FFFFFF;
}

.table-upgrade td:nth-child(2), .table-upgrade td:nth-child(3) {
	text-align: center;
}

/* Customize the label (the container) */
.box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.box:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.box input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.box .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

span.icons {
    display: none;
}

.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 13% auto;
    z-index: 1100 !important;
}
