<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/adm/header :: admhead}"></head>
<body>

<div class="wrapper">

    <div th:replace="~{fragments/adm/navbar :: admsidebar}"></div>
    <div class="main-panel">
        <div th:replace="~{fragments/adm/navbar :: admnavbar}"></div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <div class="btn-toolbar pull-right">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-info" th:href="@{/secure/users/add}"><span
                                                class="glyphicon glyphicon-plus"></span></a>
                                    </div>

                                </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-bordred table-striped" id=listtable>
                                    <thead>
                                    <tr>
                                        <th><label class="box"><input type="checkbox"
                                                                      id="checkall"/> <span class="checkmark"></span>
                                        </label></th>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Login</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="list_item : ${listItems.content}">
                                        <tr>
                                            <td><label class="box"><input
                                                    type="checkbox" class="checkthis"/> <span
                                                    class="checkmark"></span></label></td>
                                            <td th:text="${list_item.code}"></td>
                                            <td th:text="${list_item.name}"></td>
                                            <td th:text="${list_item.username}"></td>
                                            <td th:text="${list_item.email}"></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a type="button" class="btn btn-default"
                                                       th:href="@{/secure/user/{code} (code=${list_item.code})}">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                    <a type="button" class="btn btn-default"
                                                       data-toggle="modal" data-target="#modal-warning"
                                                       th:attr="data-target='#'+${list_item.code}"> <span
                                                            class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                        <div th:replace="~{fragments/adm/modal :: remove(@{Delete User({name}) (name=${list_item.name})},@{Are you sure want to delete this user ?},@{/secure/user/{id}/delete (id=${list_item.code})},${list_item.code})}"></div>
                                    </th:block>
                                    </tbody>
                                </table>
                                <div th:replace="~{fragments/pagination :: site('/secure/users')}"></div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.main-panel -->
    <div th:replace="~{fragments/adm/footer :: admfooter}"></div>


</div>
<!-- /.wrapper -->
<div th:replace="~{fragments/adm/js :: admjs}"></div>
<div th:replace="~{fragments/adm/js :: listjs}"></div>

</body>
</html>
